// customize bootstrap styles
// logo colors are #72afd3 and #37ecba
$theme-colors: (
  'primary': #37ecba,
  'secondary': #2c3034,
  'success': #99e052,
  'danger': #eb2d37,
  'warning': #f4bb57
);

// import bootstrap styles
@import '~bootstrap/scss/bootstrap';

// import google font
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #020202;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
