.v-center {
  min-height: 100%; // fallback for browsers that don't support vh
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.start-page-container {
  margin-top: -10%; // fallback for browsers that don't support vh
  margin-top: -10vh;
  text-align: center;

  .logo {
    margin-bottom: 5%; // fallback for browsers that don't support vh
    margin-bottom: 5vh;
  }

  .spotify-text {
    margin-top: 10px;
  }

  .version-number {
    margin-top: 40px;
    color: lightgrey;
  }

  input {
    width: 84%;
    margin: 0 8%;
    text-align: center;
  }

  .join-room-form {
    button[type='submit'] {
      margin-top: 5px;
    }
  }

  .create-room-form {
    h3 {
      margin-bottom: 30px;
    }

    button[type='submit'] {
      margin-top: 5px;
      margin-bottom: 20px;
    }
  }

  // mobile styling
  @media (max-width: 767px) {
    .btn {
      padding: 0.3rem 0.45rem;
      font-size: 14px;
    }
  }
}
