/* AddSong Component */
.search-song .song-dropdown-toggle {
  display: none;
}
.search-song .song-dropdown-menu {
  transform: none !important;
  width: 100%;
  background-color: #e7e7e7;
}

/* SongQueue and NowPlaying Components */
.song-list .song {
  display: flex;
  align-items: center;
  justify-content: justify;
}
.song-list .song .song-art {
  height: 100px;
}
.song-list .song .song-info {
  display: inline-block;
}
.song-list .song .song-voting {
  margin-left: auto;
}
.now-playing button.btn-play {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.now-playing .song-progress {
  height: 6px;
}

/* Full Screen View */
.fullscreen-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: hidden;
  background-color: black;
}
.fullscreen-view .fullscreen-bg {
  width: 120%;
  height: 120%;
  margin-left: -10%;
  margin-top: -10%;
  opacity: 0.2;
  filter: blur(10px);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fullscreen-view .fullscreen-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}
.fullscreen-view .fullscreen-song .song-art {
  width: 400px;
  height: 400px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.2);
}
.fullscreen-view .fullscreen-song .song-info {
  margin-bottom: 70px;
  color: white;
}
.fullscreen-view .fullscreen-song .song-info h1 {
  font-size: 35px;
  font-weight: bold;
}
.fullscreen-view .fullscreen-song .song-info h1 .badge {
  font-size: 20px;
  font-weight: normal;
  vertical-align: middle;
}
.fullscreen-view .fullscreen-song .song-info h2 {
  font-size: 25px;
}
.fullscreen-view .room-info {
  width: 70%;
  margin: auto;
  padding: 15px 10px;
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
}
.fullscreen-view .room-info .badge {
  font-size: inherit;
}
