.room-page-container {
  h4 {
    margin-top: 20px;
  }

  /* Room Page Header */
  .room-header {
    margin: 20px 0 30px;

    .room-title {
      display: inline-block;
      vertical-align: middle;
      height: 50px;

      img {
        height: 100%;
      }

      h2 {
        margin: 0 30px 0 15px;
        font-size: 25px;
      }

      h2 {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .btn {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .room-controls {
    margin-top: 20px;

    .btn {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  /* AddSong Component */
  .search-song {
    .song-dropdown-toggle {
      display: none;
    }

    .song-dropdown-menu {
      transform: none !important;
      width: 100%;
      background-color: #e7e7e7;
    }
  }

  /* SongQueue and NowPlaying Components */
  .song-list {
    border: 1px solid rgba(#72afd3, 0.5);
    border-radius: 4px;

    .song {
      display: flex;
      align-items: center;
      justify-content: justify;
      background-color: #1d1d1d;
      border-bottom: 2px solid rgba(#72afd3, 0.2);

      .song-art {
        height: 100px;
        margin-right: 20px;
      }

      .song-info {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        flex: 1;
        margin-right: 20px;

        .badge {
          vertical-align: middle;
        }
      }

      .song-voting {
        text-align: right;
      }

      .song-progress {
        height: 6px;
        background-color: #2c3034;

        .progress-bar {
          background-color: #72afd3;
        }
      }

      .btn-play {
        height: 60px;
        width: 60px;
        border-radius: 50%;
      }

      .btn,
      .btn-group-vertical {
        margin-left: 15px;

        svg {
          line-height: 1;
        }

        &:first-child {
          margin-left: 0;
        }
      }

      .btn-group-vertical .btn {
        margin-left: 0;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  /* Full Screen View */
  .fullscreen-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    background-color: black;

    .fullscreen-bg {
      width: 120%;
      height: 120%;
      margin-left: -10%;
      margin-top: -10%;
      opacity: 0.2;
      filter: blur(10px);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }

    .fullscreen-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      text-align: center;
    }

    .fullscreen-song {
      .song-art {
        width: 400px;
        height: 400px;
        margin-bottom: 30px;
        border: 6px solid;
        border-image-source: linear-gradient(45deg, #72afd3, #37ecba);
        border-image-slice: 1;
      }

      .song-info {
        margin-bottom: 70px;
        color: white;

        h1 {
          font-size: 35px;
          font-weight: bold;

          .badge {
            font-size: 20px;
            font-weight: normal;
            vertical-align: middle;
          }
        }

        h2 {
          font-size: 25px;
        }
      }
    }

    .room-info {
      width: 70%;
      margin: auto;
      padding: 15px 10px;
      font-size: 20px;
      color: black;
      background-color: white;
      border-radius: 10px;

      .fullscreen-view .room-info .badge {
        font-size: inherit;
      }
    }
  }

  // mobile styling
  @media (max-width: 767px) {
    h4 {
      font-size: 16px;
    }

    .btn {
      padding: 0.3rem 0.45rem;
      font-size: 14px;
    }

    .room-header {
      margin: 15px 0 20px;

      .room-title {
        height: 40px;

        h2 {
          font-size: 18px;
        }
      }
    }

    .room-controls {
      .btn {
        margin-right: 10px;
      }
    }

    .song-list {
      .song {
        padding: 10px;

        .song-art {
          height: 50px;
          margin-right: 10px;
        }

        .song-info {
          margin-right: 10px;
          font-size: 12px;
        }

        .song-voting {
          font-size: 14px;
        }

        .btn {
          svg {
            font-size: 13px;
          }

          &.btn-play {
            height: 40px;
            width: 40px;
          }
        }

        .btn,
        .btn-group-vertical {
          margin-left: 10px;
        }
      }
    }
  }
}
